

<p>
  <strong>Name:</strong>
  <%= @route.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @route.image %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
